#header {
  font-family: 'Roboto Mono', sans-serif;
  color:black;
  padding:30px;
  border-radius:50px;
  border-style: solid;
  border-width: 5px ;
  border-color: black;
  text-align:center;
  font-size:35px;
}

body{
  font-family: 'Roboto Slab', sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
  font-weight: 400;
  background-color: #dfe0eb;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

#avatar{
  height:200px;
  vertical-align:middle;
  border-radius: 50px;
  opacity:0.92;
  border-style: dashed;
  border-width: 2px ;
  border-color: white;
}

#p1 {
  font-size: 30px;
  font-weight:400;
}

#p2 {
  font-size: 40px;
  font-weight:400;
}

.button1 {
  padding:20px;
  border-radius: 50px;
  width:250px;
  font-family: 'Roboto Mono', sans-serif;
  color:black;
  font-size: 20px;
  border-style: solid;
  border-width: 2px ;
  border-color: black;
  background-color: white;
}

#div1{
background-color:#006699;
color:white;
padding: 3px;
border-style: dashed;
border-width: 1px ;
border-color: white;
border-radius:15px;
opacity:0.85;
}

#div2{
background-color:#006699;
color:white;
padding: 3px;
border-style: dashed;
border-width: 1px ;
border-color: white;
border-radius:15px;
opacity:0.85;
}

#div3{
background-color:#006699;
color:white;
padding: 3px;
border-style: dashed;
border-width: 1px ;
border-color: white;
border-radius:15px;
opacity:0.85;
}

#menu{
  font-size: 25px;
  padding: 5px;
  font-weight: 400;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
    font-weight: 200;
}
/* visited link */
a:visited {
    color: grey;
    font-weight: 200;
}
/* mouse over link */
a:hover {
    color: black;
    font-weight: 800;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: white;
    font-weight: 200;
    }
/*hover header*/
#header:hover {
    color:white;
    border-color: white;
    background-color: #c4c4d4;
    opacity: 0.8;
}

button:hover {
    color:white;
    border-color: white;
    background-color: #c4c4d4;
}
